In [1]:
def test():
    pass

In [2]:
def test1():
    print("this is my 1st function")
test1()

this is my 1st function

In [ ]:
test() + "sudh" 
#it is giving error bcz string in print
#print function always return nonetype so it will not concatinate

* to solve this problem we use return
* return will return any type of data as it is in the output

In [6]:
def test2():
    return "this is my 1st return"

In [7]:
test2()

'this is my 1st return'

In [9]:
test2() + " HELLO"

'this is my 1st return HELLO'

In [10]:
# using return we will return any type of data
def test3():
    return "hello", 45, 89.0,[1,2,3,4]

In [11]:
test3()

('hello', 45, 89.0, [1, 2, 3, 4])

In [13]:
#we can store each return value in variable
a,b,c,d = test3()

In [14]:
a

'hello'

In [15]:
b

45

In [16]:
c

89.0

In [17]:
d

[1, 2, 3, 4]

In [18]:
a,b,c,d

('hello', 45, 89.0, [1, 2, 3, 4])

In [23]:
def test4():
     a= 5 + 6 *7
     return a

In [24]:
test4()

47

In [26]:
def test5(a,b,c):
    d = a + b *c
    return d
test5(2,5,8) # if you dont give the values then it will give an error

42

In [28]:
def test6(a,b):
    return a+b

In [29]:
test6(3,7)

10

In [31]:
test6("hello"," pree")

'hello pree'

In [32]:
test6([1,2,3,4], [5,6,7]) # it concanate the list

[1, 2, 3, 4, 5, 6, 7]

In [39]:
list=[1,2,3,4,"hello","world",[5,6,7,8]]

In [40]:
L1 = []
for i in list:
    if type(i) == int or type(i) == float:
        L1.append(i)

In [41]:
L1

[1, 2, 3, 4]

In [42]:
#by using function
def test7(list):
    L1 = []
    for i in list:
        if type(i) == int or type(i) == float:
            L1.append(i)
    return L1

In [44]:
test7(list)

[1, 2, 3, 4]

In [9]:
list

list

In [10]:
list1=[1,2,3,4,"hello","world",[5,6,7,8]]
list1

[1, 2, 3, 4, 'hello', 'world', [5, 6, 7, 8]]

In [11]:
# print list inside the list

def test8(list1) :
    L1 = []
    for i in list1:
        if type(i) == list:
            for j in i:
                L1.append(j)
        else:
            if type(i) == int or type(i) == float:
                L1.append(i)
    return L1

In [13]:
test8(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
def test9(a,b):
    return a+b

In [16]:
# using Astric * we can pass n number of argument to the function 

def test10(*args):
     return args

In [17]:
type(test10())

tuple

In [18]:
test10(1,2,3)

(1, 2, 3)

In [19]:
test10(1,2,3,'hello','python',[1,2,3,4,5])

(1, 2, 3, 'hello', 'python', [1, 2, 3, 4, 5])

In [20]:
def test11(*args , a):
    return args , a
test11(1,2,3 , a = 25)

((1, 2, 3), 25)

In [21]:
# if user want data in keyword format
def test12(**kwargs):
    return kwargs

In [22]:
test12()

{}

In [23]:
type(test12())

dict

In [24]:
#need to insert data in key value pair

test12(a= 34.5,b="hello",c=[1,2])

{'a': 34.5, 'b': 'hello', 'c': [1, 2]}